.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.divLogotipo{
    text-align: left;
}

.divLogotipo img{
    height: 3em;
}
.divLog{
    text-align: right;
}
.divLog img{
    height: 2em;
}
.divTituloApp{
    text-align: center;
    font-size: 20px;
}
.center{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonUsuarios{
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: #67c8f5;
}
#contenedores{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.cont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
    margin: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 168, 241);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c0c0c0;
    cursor: pointer;
}
.cont:hover{
    background-color: rgb(51, 133, 226);
    transition: 0.3s;
}
#formularioBusqueda{
    
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}
    #formularioBusqueda>form>label>input{
        margin-left: 2vw;
    }
    #formularioBusqueda>form>label>select{
        margin-left: 2vw;
    }
    #botonBusquedaUsuarios{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;

    }
    #botonBusquedaUsuarios:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }
#formularioCrear{
    display: none;
    justify-content: center;
    align-items: center;
}
    #formularioCrear>form>label>input{
        margin-left: 2vw;
    }
    #botonCrearUsuarios{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;
    }
    #botonCrearUsuarios:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }
#label{
    margin-bottom: 20px;
    width: 350px;
    color: rgb(51, 133, 226);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.inputBusqueda{
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(51, 133, 226);
}
#botonbuscar2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divSelect{
    display: flex;
    justify-content: center;
    align-items: center;
}