.divLogotipo{
    text-align: left;
}

.divLogotipo img{
    height: 3em;
}
.divLog{
    text-align: right;
}
.divLog img{
    height: 2em;
}
.divTituloApp{
    text-align: center;
    font-size: 1.5em;
}
.center{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonUsuarios{
    border: none;
    border-radius: 5px;
    width: 100px;
    background-color: #67c8f5;
}
#contenedores{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.cont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600
    ;
    color: white;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 95, 160);
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #c0c0c0;
    cursor: pointer;
}
.cont:hover{
    background-color: rgb(50, 151, 233);
}
#formularioBusqueda{
    
    display: none;
    justify-content: center;
    align-items: center;
}
    #formularioBusqueda>form>label>input{
        margin-left: 2vw;
    }
    #formularioBusqueda>form>label>select{
        margin-left: 2vw;
    }
    #botonBusquedaUsuarios{
        background-color: rgb(15, 95, 160);
        color: white;
        margin-left: 2vw;
        height: 3vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;cursor: pointer;
    }
    #botonBusquedaUsuarios:hover{
        background-color: rgb(50, 151, 233);

    }
#formularioCrear{
    display: none;
    justify-content: center;
    align-items: center;
}
    #formularioCrear>form>label>input{
        margin-left: 2vw;
    }
    #botonCrearUsuarios{
        background-color: rgb(15, 95, 160);
        color: white;
        margin-left: 2vw;
        height: 3vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;cursor: pointer;
    }
    #botonCrearUsuarios:hover{
        background-color: rgb(50, 151, 233);

    }
