#formularioBusquedaMenu{
    
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}
#formularioBuscarMenu{
    width: 20%;
}
    #formularioBusquedaMenu>form>label>input{
        margin-left: 2vw;
    }
    #formularioBusquedaMenu>form>label>select{
        margin-left: 2vw;
    }
    #botonBusquedaMenus{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;

    }
    #botonBusquedaMenus:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }
#formularioCrearMenu{
    display: none;
    justify-content: center;
    align-items: center;
}
#formularioCrearMenu2{
    width: 40%;
}
    #formularioCrearMenu>form>label>input{
        margin-left: 2vw;
    }
    #botonCrearMenu{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;
    }
    #botonCrearMenu:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }

#botonbuscardiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_usuario{
    height: 50vh;
    width: 90vw;
    border: 2px solid rgb(112, 112, 112);
}


.contenedorMenus{
    height: 100%;
    width: 100%;
    margin: 0;
}
.padre{
    width: 100%;
    background-color: #fdfdfd;
    border-bottom: 1px solid grey;
}
.contenedorPadre{
    display: flex;
    align-items: center;
    width: 100%;
}
.mas{
    margin-left: 3vw;
    height: 3vh;
    width: 3vw;
    background-color: red;
}
.tituloMenu{
    padding: 1vw;
    margin-left: 3vw;
    color: white;
    background-color: #000000;
    box-shadow: 1px 1px 10px #9e9e9e;
    border-radius: 5px;
}
.tituloMenu:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}
.permisosMenu{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    padding: 3vh;
}
.barraSuperior{
    display: flex;
    justify-content: space-between;
    height: 3vh;
    width: 100%;

}
.masSuperior{
    margin-left: 3vw;
    height: 3vh;
    width: 3vw;
}
.masSuperior:hover{
    scale: 1.2;
    cursor: pointer;
    transition: 200ms;
}
.borrarPadre{
    margin-right: 1vw;
    height: 3vh;
    width: 3vw;
}
.borrarPadre:hover{
    scale: 1.2;
    cursor: pointer;
    transition: 200ms;
}
.añadirHijo{
    margin-left: 8vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(70, 184, 104);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #9e9e9e;
}
.añadirHijo:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}
.permiso{
    color: white;
    margin: 1vw;
    box-shadow: 1px 1px 10px #9e9e9e;
    padding: 1vw;
    border-radius: 5px;
    background-color: rgb(120, 163, 243);
}
.permiso:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}

.espacioHijos{
    width: 100%;
    margin: 3vw;
    display: flex;
    align-items: center;
}
.tituloMenuHijos{
    padding: 1vw;
    margin-left: 15vw;
    color: white;
    background-color: #000000;
    box-shadow: 1px 1px 10px #9e9e9e;
    border-radius: 5px;
    white-space: nowrap;
}
.permisosMenuHijos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    padding: 3vh;
}
.iconoNuevoHijo{
    margin-left: 20vw;
}
.nuevoPermiso{
    margin-left: 1vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(70, 184, 104);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #9e9e9e;
}
