#formularioBusquedaMenu{
    
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}
#formularioBuscarMenu{
    width: 20%;
}
    #formularioBusquedaMenu>form>label>input{
        margin-left: 2vw;
    }
    #formularioBusquedaMenu>form>label>select{
        margin-left: 2vw;
    }
    #botonBusquedaMenus{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;

    }
    #botonBusquedaMenus:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }
#formularioCrearMenu{
    display: none;
    justify-content: center;
    align-items: center;
}
#formularioCrearMenu2{
    width: 40%;
}
    #formularioCrearMenu>form>label>input{
        margin-left: 2vw;
    }
    #botonCrearMenu{
        margin-top: 20px;
        background-color: rgb(104, 168, 241);
        color: white;
        height: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #c0c0c0;
        cursor: pointer;
        font-size: 18px;
    }
    #botonCrearMenu:hover{
        background-color: rgb(51, 133, 226);
        transition: 0.3s;
    }

#botonbuscardiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_usuario{
    width: 90vw;
    border: 2px solid rgb(112, 112, 112);
}


.contenedorMenus{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 99%;
    margin: 0;
}
.padre{
    padding: 1vw;
    margin: 1vw;
    width: 100%;
    background-color: #fdfdfd;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedorPadre{
    display: flex;
    align-items: center;
    width: 100%;
}
.tituloMenu{
    padding: 1vw;
    color: white;
    background-color: #000000;
    box-shadow: 1px 1px 10px #9e9e9e;
    border-radius: 5px;
}
.tituloMenu:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}
.permisosMenu{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 3vh;
}
.barraSuperior{
    display: flex;
    justify-content: space-between;
    height: 3vh;
    width: 100%;

}
.masSuperior{
    margin-left: 3vw;
    height: 3vh;
    width: 3vw;
}
.masSuperior:hover{
    scale: 1.2;
    cursor: pointer;
    transition: 200ms;
}
.borrarPadre{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borrarPadre:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 200ms;
}
.borrarHijo{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borrarHijo:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 200ms;
}
.añadirHijo{
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(70, 184, 104);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #9e9e9e;
}
.permiso{
    margin: 1vw;
    color: white;
    box-shadow: 1px 1px 10px #9e9e9e;
    padding: 1vw;
    border-radius: 5px;
    background-color: rgb(120, 163, 243);
}

.espacioHijos{
    width: 98%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.tituloMenuHijos{
    width: fit-content;
    padding: 1vw;
    color: white;
    background-color: #000000;
    box-shadow: 1px 1px 10px #9e9e9e;
    border-radius: 5px;
    white-space: nowrap;
    margin-left: 1vw;
}
.permisosMenuHijos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nuevoPermiso{
    height: fit-content;
    width: fit-content;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(70, 184, 104);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #9e9e9e;
}
.nuevoPermiso:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}
.tamañoHijo{
    background-color: #e7e7e7;
    margin: 1vw;
    height: fit-content;
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}
.primerBloquePadre{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.segundoBloquePadre{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tercerBloquePadre{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.primerBloqueHijo{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.segundoBloqueHijo{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tercerBloqueHijo{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
}
.hijo{
    width: 100%;
    height: auto;
    display: flex;
}
#capaResultadosBusqueda{
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nuevoPadre{
    fill: green;
    margin-left: 2vw;
}
.nuevoPadre:hover{
    cursor: pointer;
    transition: 200ms;
}
.nuevoHijo{
    width: 100%;
    fill: green;
    margin-left: 2vw;
}
.nuevoHijo:hover{
    cursor: pointer;
    transition: 200ms;
}
.btn-primary{
    width: 30%;
}
.aceptarAñadirHijo{
    height: auto;
    width: auto;
    z-index: 999;
}
.aceptarAñadirHijo:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 200ms;
}

/* 
*{
    border: 1px solid black;
} */

.espacioFinal{
    height: 10vh;
    width: 100%;
}
.inputAñadirHijo{
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
.borrarPermisoPadre{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borrarPermisoPadre:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 200ms;
}
.borrarPermisoHijo{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borrarPermisoHijo:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 200ms;
}
